<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/swell-icons.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/main.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/blocks.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/modules/loaded-animation.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/modules/parts/footer.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/modules/page/term.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/noscript.css">
<link rel="stylesheet" href="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/css/print.css">
<script src="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/js/main.min.js"></script>
<script src="/assets/easis.wit-one.co.jp/wp-content/themes/swell/assets/js/plugins/lazysizes.min.js"></script>
<script src="/assets/easis.wit-one.co.jp/wp-content/themes/swell/build/js/front/set_fix_header.min.js"></script>
</head>
<body>
<header id="header" class="l-header -series -series-right" data-spfix="0">
		<div class="l-header__inner l-container">
		<div class="l-header__logo">
			<div class="c-headLogo -img"><a href="https://easis.wit-one.co.jp/" title="Easis" class="c-headLogo__link" rel="home"><img width="2560" height="380" src="https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102.png" alt="Easis" class="c-headLogo__img" srcset="https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102.png 2560w, https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102-300x45.png 300w, https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102-1024x152.png 1024w, https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102-768x114.png 768w, https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102-1536x228.png 1536w, https://easis.wit-one.co.jp/wp-content/uploads/2025/09/easis_logo102-2048x304.png 2048w" sizes="(max-width: 959px) 50vw, 800px" decoding="async" loading="eager"></a></div>					</div>
		<nav id="gnav" class="l-header__gnav c-gnavWrap">
					<ul class="c-gnav">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="https://easis.wit-one.co.jp/feature/"><span class="ttl">特徴</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="https://easis.wit-one.co.jp/usage/"><span class="ttl">利用イメージ</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1056"><a href="https://easis.wit-one.co.jp/category/case/"><span class="ttl">導入事例</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-374"><a href="https://easis.wit-one.co.jp/function/"><span class="ttl">イベント効果測定</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375"><a href="https://easis.wit-one.co.jp/plan/"><span class="ttl">利用料金</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376"><a href="https://easis.wit-one.co.jp/contact/"><span class="ttl">資料請求・お問い合せ</span></a></li>
					</ul>
			</nav>
		<div class="l-header__customBtn sp_">
			<a href="https://wo250703.xsrv.jp/EIS/contact/" class="c-iconBtn">
			<i class="c-iconBtn__icon icon-mail"></i>
							<span class="c-iconBtn__label">資料請求</span>
					</a>
	</div>
<div class="l-header__menuBtn sp_">
	<button class="c-iconBtn -menuBtn c-plainBtn" data-onclick="toggleMenu" aria-label="メニューボタン">
		<i class="c-iconBtn__icon icon-menu-thin"></i>
					<span class="c-iconBtn__label">Menu</span>
			</button>
</div>
	</div>
	</header>
{{ content | safe }}
<footer id="footer" class="l-footer">
	<div class="l-footer__inner">
			<div class="l-footer__foot">
			<div class="l-container">
			<ul class="l-footer__nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-394"><a href="https://easis.wit-one.co.jp/">TOP</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399"><a href="https://easis.wit-one.co.jp/feature/">特徴</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396"><a href="https://easis.wit-one.co.jp/usage/">利用イメージ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397"><a href="https://easis.wit-one.co.jp/plan/">利用料金</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395"><a href="https://easis.wit-one.co.jp/function/">イベント効果測定</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a href="https://easis.wit-one.co.jp/category/news/">NEWS</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-402"><a href="https://easis.wit-one.co.jp/category/case/">導入事例</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400"><a href="https://easis.wit-one.co.jp/contact/">お問い合せ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398"><a href="https://easis.wit-one.co.jp/terms/">利用規約</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-401"><a href="https://wit-one.co.jp/privacy/">Privacy-Policy</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404"><a href="https://wit-one.co.jp/">Wit-One</a></li>
</ul>			<p class="copyright">
				<span lang="en">©</span>
				Copyright © WitOne Co.,LTD. All rights reserved. 			</p>
					</div>
	</div>
</div>
</footer>
</body>
</html>
